<div class="row">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Conteúdo de Ajuda da Página</h5>
                <span class="text-muted">Nessa tela você pode registrar tarefas, controlalas atraves do marcador de seleção assim que a mesma estiver pronta, poderá também editar  ou apagar as mesmas.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
              <i class="fa fa-info-circle"></i>  <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="btn-group pull-right">
            <a href="/app" class="btn btn-primary btn-lg"><i class="fa fa-refresh"></i></a>
         
        </div>
        <h3>Olá, <small>{{user()}}</small></h3>
        Você tem <big><strong><em>{{ remaining() }}</em></strong></big> mensagens!
    </div>
</div>
<hr />