<br />
<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <form name="signup_form" novalidate ng-submit="signup($event)">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Nome"
                       name="name"
                       ng-model="signupModel.nome"
                       ng-minlength=6
                       ng-maxlength=20
                       required />
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email"
                       class="form-control input-lg"
                       placeholder="E-mail"
                       name="email"
                       ng-model="signupModel.email"
                       ng-minlength=6
                       ng-maxlength=120
                       required />
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" ui-br-phone-number"
                       class="form-control input-lg"
                       placeholder="Telefone"
                       name="telefone"
                       ng-model="signupModel.telefone"
                       ng-minlength=6
                       ng-maxlength=120
                       required />
            </div>
            <div class="form-group">
                <label for="apto">Apto</label>
            
                <select ng-model="signupModel.apto">
                    <option value="">Selecione o Apto</option>
                    <option ng-repeat="unidade in aptos" value="{{ unidade.id }}" >{{ unidade.bloco }} - {{ unidade.identificacao }}</option>
                </select>

            </div>



            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="Senha"
                       name="senha"
                       ng-model="signupModel.senha"
                       ng-minlength=6
                       ng-maxlength=20
                       required />
            </div>
            <div class="form-group">
                <label for="resenha">Confirme sua Senha</label>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="Confirme sua Senha"
                       name="resenha"
                       ng-model="signupModel.confirmsenha"
                       ng-minlength=6
                       ng-maxlength=20
                       required />
            </div>
            <br />
            <p class="text-center">
                <button type="submit" ng-disabled="signup_form.$invalid || signupModel.senha != signupModel.confirmsenha" class="btn btn-lg btn-primary" data-loading-text="Aguarde...">Cadastrar</button>
                <a href="#/account/login" class="btn btn-lg btn-default">Cancelar</a>
            </p>

            <div class="alert alert-danger" ng-show="signup_form.$invalid && signup_form.$dirty || signupModel.senha != signupModel.confirmsenha">
                <ul>
                    <li ng-show="signup_form.name.$invalid">
                        O nome é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="signup_form.email.$invalid">
                        O E-mail é requerido e deve ser válido.
                    </li>
                    <li ng-show="signup_form.senha.$invalid">
                        A senha é obrigatória e deve conter pelo menos 6 caracteres.
                    </li>
                    <li ng-hide="signupModel.senha === signupModel.confirmsenha">
                        A senhas digitadas não coincidem.
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>