.todo-true {
    text-decoration: line-through;
    font-style: italic;
    background: #CCC;
    color: #333;
    border: 1px solid #666
}

.todo-item {
    font-size: large;
    line-height: 35px;
}

.box {
    height: auto;
    width: auto;
}
