'<div class="row">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Conteúdo de Ajuda da Página</h5>
                <span class="text-muted">Nessa tela você pode manter o gerenciamento do registro de unidades.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
              <i class="fa fa-info-circle"></i>  <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="col-md-12">

        <h3>Olá, <small>{{user()}}</small></h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="input-group">
                    <input type="hidden" value="{{ unidade.id}}" />
                    <input type="text" class="form-control" placeholder="Unidade" ng-model="unidade.descricao" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-show="unidade.id == 0" ng-click="save(unidade)"><i class="fa fa-plus"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <input type="text" class="form-control" placeholder="Filtrar" ng-model="search" />
            </div>
        </div>

        <br />
        <ul class="list-unstyled" ng-repeat="unidade in unidades | filter: search">
            <li class="unidade-item">
                <input type="hidden" value="{{ unidade.id}}"/>
                <input type="text" placeholder="Identificação" ng-model="unidade.identificacao" value="{{ unidade.identificacao }}">
                <input type="text" placeholder="Bloco" ng-model="unidade.bloco" value="{{ unidade.bloco }}" />
                <input type="text" placeholder="Garagem" ng-model="unidade.garagem" value="{{ unidade.garagem }}" />
                <input type="text" placeholder="Veículo" ng-model="unidade.veiculo" value="{{ unidade.veiculo }}" />
                <select ng-model="unidade.proprietario">
                    <option value="{{ unidade.proprietario }}">{{ findUser(unidade) }}</option>
                    <option ng-repeat="usuario in usuarios" value="{{ usuario.id }}" >{{ usuario.nome }}</option>
                </select>
                
                               
                <div class="btn-group">
                    <button class="btn btn-danger btn-sm" ng-click="delete(unidade)"><i class="fa fa-remove"></i></button>
                    <button class="btn btn-primary btn-sm" ng-click="sync(unidade)"><i class="fa fa-save"></i></button>    
                </div>
            </li>
            <hr class="solid">
        </ul>
      
    </div>
</div>
