<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control: max-age=3600, must-revalidate" />
    <meta name="description" content="Website Description">
    <title>Sistema de Controle de Condominio</title>

    <!-- Favicon -->
    <!-- Created with http://www.xiconeditor.com/ -->
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="content/img/icons/ngtodolist.png">

    <!-- Add to homescreen for Safari on iOS -->
    <link rel="apple-touch-icon" href="content/img/icons/ngtodolist.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Sistema de Controle de Condominio">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="content/img/icons/ngtodolist.png">
    <meta name="msapplication-TileColor" content="#f5f5f5">

    <!-- CSS -->
    <link href="content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/themes/bootstrap-{{theme}}.min.css" rel="stylesheet" />
    <link href="content/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="content/vendor/animate/animate.css" rel="stylesheet" />
    <link href="content/css/custom.css" rel="stylesheet" />
    <link href="content/vendor/menu/menu.css" rel="stylesheet" />
    <link href="content/vendor/assembleia/assembleia.css" rel="stylesheet" />
    <link href="content/vendor/caixa/caixa.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style type="text/css">
        .hideAll {
            visibility: hidden;
        }
    </style>

    <!-- Old browser support -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body role="document">
  
    <div id="main">
        <div id="tabs" class="hideAll">


            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div class="container">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" onclick="openNav()" href="#/">Sistema de Condomínio</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#/">Home</a></li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Configurações <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/profile">Meu Perfil</a></li>
                                    <li><a href="#/account/change-password">Alterar Senha</a></li>
                                    <li><a onclick="hidenMenu()" href="#/account/logout">Sair</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('default')">Default</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('cerulean')">Cerulean</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('cosmo')">Cosmo</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('cyborg')">Cyborg</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('darkly')">Darkly</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('flatly')">Flatly</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('journal')">Journal</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('lumen')">Lumen</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('paper')">Paper</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('readable')">Readable</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('sandstone')">Sandstone</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('symplex')">Symplex</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('slate')">Slate</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('spacelab')">Space Lab</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('superhero')">Super Hero</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('united')">United</a></li>
                                    <li><a href="javascript:void(0)" ng-click="changeTheme('yeti')">Yeti</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a></a>
                <a></a>
                <hr class="solid">
                <p class="dividermenu"> Controle Financeiro</p>
                <a href="#/caixa" class="fa fa-usd w3-xlarge">   Caixa</a>
                <a href="#" class="fa fa-line-chart w3-xlarge"> Inadimplência</a>
                <a></a>
                <hr class="solid">
                <p class="dividermenu"> Controle de Tarefas</p>
                <a href="#/tarefa" class="fa fa-list-ol w3-xlarge"> Tarefas </a>
                <a href="#/assembleia" class="fa fa-weixin w3-xlarge"> Assembléia</a>
                <a href="#" class="fa fa-car w3-xlarge"> Vagas Visitantes</a>
                <a href="#/ocorrencia" class="fa fa-eye w3-xlarge">  Ocorrências</a>
                <a></a>
                <hr class="solid">
                <p class="dividermenu"> Condominio</p>

                <a href="#/unidade" class="fa fa-building w3-xlarge"> Unidades</a>
                <a href="#" class="fa fa-user w3-xlarge"> Moradores</a>
            </div>

            <div class="container" role="main">
                <br />
                <br /><br />

                <div ng-view></div>
            </div>

            <!-- Base Scripts -->
            <script src="content/vendor/jquery/jquery-2.1.1.min.js"></script>
            <script src="content/vendor/bootstrap/bootstrap.min.js"></script>
            <script src="content/vendor/toastr/toastr.min.js"></script>
            <script src="content/js/startup.js"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#tabs").removeClass("hideAll");
                    document.getElementById("mySidenav").style.visibility = "hidden";
                    document.getElementById("main").style.marginLeft = "300px";
                });
            </script>

            <!-- Angular JS -->
            <script src="content/vendor/angularjs/angular.min.js"></script>
            <script src="content/vendor/angularjs/angular-resource.min.js"></script>
            <script src="content/vendor/angularjs/angular-route.min.js"></script>
            <script src="content/vendor/angularjs/angular-sanitize.min.js"></script>
            <script src="content/vendor/angularjs/angular-animate.min.js"></script>
            <script src="content/vendor/angularjs/angular-cookies.min.js"></script>
            <script src="content/vendor/angularjs/angular-touch.min.js"></script>

            <!-- External Directives -->
            <script src="content/vendor/angularjs/directives/ui-bootstrap.min.js"></script>
            <script src="content/vendor/angularjs/directives/ui-bootstrap-tpls.min.js"></script>
            <script src="content/vendor/angular-input-masks-standalone.min.js"></script>
            <script src="content/vendor/angular-input-masks.br.min.js"></script>
            <script src="content/vendor/menu/menu.js"></script>
            <script src="content/vendor/assembleia/assembleia.js"></script>
            <script src="http://parall.ax/parallax/js/jspdf.js?1391533408"></script>


            <!-- Configuration -->
            <script src="modules/config.js"></script>

            <!-- Controllers -->
            <script src="modules/AppCtrl.js"></script>
            <script src="modules/home/controllers/HomeCtrl.js"></script>
            <script src="modules/account/controllers/LoginCtrl.js"></script>
            <script src="modules/account/controllers/LogoutCtrl.js"></script>
            <script src="modules/account/controllers/SignUpCtrl.js"></script>
            <script src="modules/account/controllers/AptoCtrl.js"></script>
            <script src="modules/account/controllers/ForgotPasswordCtrl.js"></script>
            <script src="modules/tarefa/controllers/TarefaCtrl.js"></script>
            <script src="modules/assembleia/controllers/AssembleiaCtrl.js"></script>
            <script src="modules/unidade/controllers/UnidadeCtrl.js"></script>
            <script src="modules/ocorrencia/controllers/OcorrenciaCtrl.js"></script>
            <script src="modules/caixa/controllers/CaixaCtrl.js"></script>

            <!-- Repositories -->
            <script src="repositories/AuthRepository.js"></script>
            <script src="repositories/UserRepository.js"></script>
            <script src="repositories/TodoRepository.js"></script>
            <script src="repositories/AssembleiaRepository.js"></script>
            <script src="repositories/UnidadeRepository.js"></script>
            <script src="repositories/OcorrenciaRepository.js"></script>
            <script src="repositories/CaixaRepository.js"></script>
        </div>
    </div>
</body>
</html>
